{% extends 'base.html' %}

{% block title %} Elenco Foto{% endblock %}

{% block header1 %}
  <h1>Elenco Foto</h1>
{% endblock %}

{% block content %}

<h2> {{ view.nome }} {{ object_list.count }} Foto </h2>

<br>

{% for f in object_list %}
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ f.nome }}</h5>
        {% if f.landscape %}
            <p class="card-text">foto scattata da {{ f.artist_name }} in formato Landscape</p>

        {% else %}
           <p class="card-text">foto scattata da {{ f.artist_name }} in formato Portrait</p>
        {% endif %}
        Spero ti piaccia</a>

    </div>
    <div class="card-header">
   Questa foto potrebbe piacerti
  </div>
</div>
<br>
{%endfor%}

<br>

{% endblock %}
